* {
    margin: 0 auto;
}

h1 {
    color: blue;
}

#barmain {
    background-color: #070941;
}

.nav-profile {
    width: 100%;
    height: 8vh;
    background-color: #070941;
    border: 0;
    color: white;
}

.user-img {
    margin: 0 auto;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h5 {
    text-align: center;
}

#login-google {
    width: 100%;
}

#logo-box {
    width: 30%;
    padding-top: 100px;
    margin: 0 auto;
}

.user-nav {
    background-color: #070941;
}

#nav-box {
    margin: 0 auto;
}

.col-nav {
    width: 40%;
    height: 30vh;
    padding: 5%;
    margin: 5%;
}

#logo-dame5 {
    width: 30%;
    padding-top: 100px;
    margin: 0 auto;
}

#dame5 {
    width: 100%;
}

#logo-small {
    width: 70px;
}

.general-nav {
    width: 100%;
    height: 85px;
    background-color: #070941;
    color: white;
}

.photo-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

.title {
    padding: 10px;
    margin-right: 5px; 
    text-align: right; 
}

/* Estilos efectivo  */

#cash-code {
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

#code-generator {
    width: 100px;
    height: 50px;
    background-color: #070941;
    color: white;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#body-content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

/* menu */
#cuenta {
    background-image: url(../images/cuenta.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 90%;
    height: 15vh; 
}

#prestamo {
    background-image: url(../images/prestamo.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 90%;
    height: 16vh; 
}

#efectivo {
    background-image: url(../images/efectivo.png); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 90%;
    height: 16vh; 
}

#pagos {
    background-image: url(../images/calendario.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 90%;
    height: 16vh; 
}

/* estilos cuenta */
#icono-cuenta {
    background-image: url(../images/cuenta.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 20%;
    height: 11vh;
    margin-top: -50px;
    margin-bottom: 20px; 
}

#calendario {
    width: 100%; 
    background-color: #070941;
    color: white;
    border: 0px; 
    margin: 10px; 
    padding: 10px; 
}

#center {
    width: 200px; 
    margin: 0 auto; 
}

.table-head {
    background-color: #070941; 
    color: white; 
}

#home {
    background-image: url(../images/home.png); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 50px; 
    height: 50px; 
    background-color: white; 
    border: 0; 
    margin: 20px; 
}